<!doctype html>
<html lang='en'>
    <head>
        <title>mealx</title>

        <script type="text/javascript" src='{{ url_for("static", filename="mealx.js") }}'></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

        {% block stylesheets %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        {% block page %}
        {% endblock %}
    </body>
</html>

