<!doctype html>
<html lang='en'>
    <head>
        <title>mealx</title>

        <script type="text/javascript" src='{{ url_for("static", filename="mealx.js") }}'></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

        {% block stylesheets %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <ul id='navi'>
            <li><a class='{% block navi_ingredients %}{% endblock %}' href='{{ url_for(".ingredients") }}'>Ingredients</a></li>
            <li><a class='{% block navi_meals %}{% endblock %}' href='{{ url_for(".meals") }}'>Meals</a></li>
            <li class='float-right'><a class='{% block navi_logout %}{% endblock %}' href='{{ url_for(".logout") }}'>Logout</a></li>
            <div class='clear-float'></div>
        </ul>
        <div id='page'>
            {% block page %}
                <h1>Welcome</h1>
            {% endblock %}
        </div>
    </body>
</html>

